@using System.Configuration
@model GrandTravel.Angular.Models.PackageView
@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <style>
        table td, table th {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container"> 
        <div class="row">
          
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <h4>Customer: @Model.CustomerName</h4>
                    <h5>Order No: @Model.OrderId</h5>
                    <p><em>Order Date: @Model.orderDate</em></p>

                </div>
                <table width="750">
                    <tr>
                        <th>Packege Thumb</th>
                        <th>Packege Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
@for (int j = 0; j < Model.DetailsLineItems.Count; j++)
{
    
                    <tr>
                        <td><img src="@Model.DetailsLineItems[j].ItemPhoto" width="70" alt="@Model.DetailsLineItems[j].item_name" /></td>
                        <td>@Model.DetailsLineItems[j].item_name</td>
                        <td>@Model.DetailsLineItems[j].amount</td>
                        <td>@Model.DetailsLineItems[j].quantity</td>
                        <td>@(Model.DetailsLineItems[j].quantity * Model.DetailsLineItems[j].amount)</td>

                    </tr>
    
}
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><h5 style="text-align:right">Grand Total = @Model.GrandTotal</h5></th>

                    </tr>

                </table>

            </div>
        </div>


        <div class="row">
            <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]">
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="upload" value="1" />
                <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["urlReturn"]" />
                <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBusiness"]" />

                @for (int j = 0; j < Model.DetailsLineItems.Count; j++)
                {
                    <input type="hidden" name="@Url.Content("item_name_"+(j+1))" value="@Model.DetailsLineItems[j].item_name" />
                    <input type="hidden" name="@Url.Content("item_number_"+(j+1))" value="@Model.DetailsLineItems[j].item_number" />
                    <input type="hidden" name="@Url.Content("amount_"+(j+1))" value="@Model.DetailsLineItems[j].amount" />
                    <input type="hidden" name="@Url.Content("quantity_" + (j + 1))" value="@Model.DetailsLineItems[j].quantity" />

                }

                <br />
                <div class="col-md-2 col-md-offset-8">
                    <input type="submit" value="Pay Now" class="btn btn-success col-md-12" />
                </div>
            </form>
        </div>




    </div>
</body>
</html>
